<!DOCTYPE html>
<html>
<head>
  <title>GoalSetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<% if flash[:notices] %>
  <% flash[:notices].each do |notice| %>
    <%= notice %>
  <% end %>
<% end %>

<% if signed_in? %>
  <h1>Hello, <%= current_user.username %>!</h1>
  You have <%= current_user.cheers_bank %> Cheers left
  <%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<%= yield %>

Leaderboard:
</br>
  <% Goal.all.where(privacy: "Public").order(cheers_value: :DESC).limit(5).each do |goal| %>
    <%= goal.cheers_value %>: <%= link_to goal.title, goal_url(goal) %> <%= goal.user.username %>
    </br>
  <% end %>
</body>
</html>
